Repository offensive-vk/AwesomeActions, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, Dockerfile, dotfiles, markdown, devcontainer, testing, others, integration, concurrency, basic, automation, advanced

.github/labeler.yml:

ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - '*.yml'
          - '.github/workflows/*.yml'
          - 'Dockerfile'
          - 'compose.yaml'

Dockerfile:
  - changed-files:
      - any-glob-to-any-file:
          - 'Dockerfile'

dotfiles:
  - changed-files:
      - any-glob-to-any-file:
          - '.gitlab-ci.yml'
          - '.gitignore'
          - '.gitattributes'
          - '.dockerignore'
          - 'CODEOWNERS'
          - 'Dockerfile'
          - 'LICENSE'
          - 'package-*.json'
          - 'pnpm-lock.yaml'

markdown:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - './**/*.md'

devcontainer:
  - changed-files:
      - any-glob-to-any-file:
          - '.devcontainer/*'

testing:
  - changed-files:
      - any-glob-to-any-file:
          - 'Testing/*'

others:
  - changed-files:
      - any-glob-to-any-file:
          - 'Others/*'

integration:
  - changed-files:
      - any-glob-to-any-file:
          - 'Integration/*'

concurrency:
  - changed-files:
      - any-glob-to-any-file:
          - 'Concurrency/*'

basic:
  - changed-files:
      - any-glob-to-any-file:
          - 'Basic/*'

automation:
  - changed-files:
      - any-glob-to-any-file:
          - 'Automation/*'

advanced:
  - changed-files:
      - any-glob-to-any-file:
          - 'Advanced/*'

Updates in CI.
  .github/workflows/auto-label.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-image.yml
  .github/workflows/docker-publish.yml
  .github/workflows/mirror.yml
Labels: ci/cd

Updates in Deploy Scripts (#4)
  .github/workflows/auto-label.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-image.yml
  .github/workflows/docker-publish.yml
  .github/workflows/mirror.yml
Labels: ci/cd

Enhanced.
  .github/workflows/deploy.yml
  .github/workflows/docker-image.yml
  .github/workflows/docker-publish.yml
  .github/workflows/mirror.yml
  Others/og.yml
Labels: ci/cd, others

Enhanced CI. (#5)
  .github/workflows/deploy.yml
  .github/workflows/docker-image.yml
  .github/workflows/docker-publish.yml
  .github/workflows/mirror.yml
  Others/og.yml
Labels: ci/cd, others

Minor Updates.
  .github/workflows/mirror.yml
  readme.md
Labels: ci/cd, markdown

Uploads.
  .github/data.json
  .github/workflows/docker-image.yml
  readme.md
Labels: ci/cd, markdown

Shutdown Workflows. (#6)
  .github/data.json
  .github/workflows/docker-image.yml
  readme.md
Labels: ci/cd, markdown
